fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlmodel
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
python-dotenv
sentence-transformers